<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0 //EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.mapper.VerifyCodeMapper">
    <resultMap id="VerifyCodeResult" type="example.entity.database.VerifyCode">
        <result column="vc_id" property="vcId"/>
        <result column="vc_create_time" property="vcCreateTime"/>
        <result column="vc_operation_type" property="vcOperationType"/>

        <result column="vc_picture_code" property="vcPictureCode"/>
        <result column="vc_telephone" property="vcTelephone"/>
        <result column="vc_telephone_code" property="vcTelephoneCode"/>

        <result column="vc_email" property="vcEmail"/>
        <result column="vc_email_code" property="vcEmailCode"/>
    </resultMap>
    <insert id="insert" parameterType="example.entity.database.VerifyCode">
        insert into sys_verify_code (vc_id,vc_create_time,vc_operation_type,vc_picture_code,vc_telephone,vc_telephone_code,
                                     vc_email,vc_email_code)
                            values (#{vcId},#{vcCreateTime},#{vcOperationType},#{vcPictureCode},#{vcTelephone},#{vcTelephoneCode},
                                    #{vcEmail},#{vcEmailCode});
    </insert>

    <delete id="delete" parameterType="example.entity.database.VerifyCode">
        delete from sys_verify_code where  vc_id = #{vcId} or vc_telephone = #{vcTelephone} or vc_email = #{vcEmail};
    </delete>

    <select id="selectOne" resultType="example.entity.database.VerifyCode">
        select vc_id,vc_create_time,vc_operation_type,vc_picture_code,vc_telephone,vc_telephone_code,
               vc_email,vc_email_code from sys_verify_code  where vc_id = #{vcId};
    </select>

    <select id="selectAll" resultType="example.entity.database.VerifyCode">
        select vc_id,
               vc_create_time,
               vc_operation_type,
               vc_picture_code,
               vc_telephone,
               vc_telephone_code,
               vc_email,
               vc_email_code
        from sys_verify_code;
    </select>
</mapper>