<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 在XML配置文件中定义bean -->

<mapper namespace="org.example.model.dao.TestMybatisMapper">

   <resultMap type="org.example.model.entity.TestMybatis" id="TestMybatisMap">
    <result property="id" column="user_id" jdbcType="INTEGER"/>
    <result property="name" column="user_Name" jdbcType="VARCHAR"/>
    <result property="gender" column="user_Gender" jdbcType="VARCHAR"/>
</resultMap>

  <!--查询单个-->
    <select id="queryById" resultMap="TestMybatisMap">
        select
            *
        from `sys_user`
        where id = ${user_id}
    </select>
</mapper>

