<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0 //EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.model.dao.PowerMapper">
    <resultMap id="PowerMapResult" type="org.example.model.entity.Power">
        <result column="power_id" property="powerId"/>
        <result column="power_name" property="powerName"/>
        <result column="power_type" property="powerType"/>
        <result column="power_create_time" property="powerDate"/>
        <result column="power_notes" property="powerNote"/>

    </resultMap>

    <insert id="insertPower" parameterType="org.example.model.entity.Power">
        insert into sys_power (power_id, power_name, power_type, power_create_time, power_notes)
        values (#{powerId}, #{powerName}, #{powerType}, #{powerDate}, #{powerNote});
    </insert>

    <delete id="deletePower" parameterType="org.example.model.entity.Power">
        delete
        from sys_power
        where power_id = #{powerId};
    </delete>

    <update id="updatePower" parameterType="org.example.model.entity.Power">
        update sys_power
        set power_name=#{powerName},
            power_type=#{powerType},
            power_create_time=#{powerDate},
            power_notes=#{powerNote}
        where power_id = #{powerId};
    </update>

    <select id="selectOnePower" resultType="org.example.model.entity.Power" resultMap="PowerMapResult">
        select power_id,
               power_name,
               power_type,
               power_create_time,
               power_notes
        from sys_power
        where power_id = #{powerId}
           or power_name=#{powerName};
    </select>

    <select id="selectAllPower" resultType="org.example.model.entity.Power" resultMap="PowerMapResult">
        select power_id,
               power_name,
               power_type,
               power_create_time,
               power_notes
        from sys_power;
    </select>

    <select id="getRolePowers" resultType="org.example.model.entity.Power" resultMap="PowerMapResult">
        SELECT p.*
        FROM sys_power p
                 INNER JOIN sys_role_power_ref rp ON p.power_id = rp.ref_power_id
        WHERE ref_role_id = #{roleId};
    </select>

    <select id="isStatusToPower" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sys_power
        WHERE power_id=#{powerId}
          AND power_type=#{powerType};
    </select>






</mapper>

