<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0 //EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.model.dao.RoleMapper">
    <resultMap id="RoleMapResult" type="org.example.model.entity.Role">
        <result column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="role_create_time" property="roleDate"/>
        <result column="role_status_flag" property="roleFlag"/>
        <result column="role_remark" property="roleMark"/>

    </resultMap>
    <insert id="insertRole" parameterType="org.example.model.entity.Role">
        insert into sys_role (role_id, role_name, role_create_time, role_status_flag, role_remark)
        values (#{roleId}, #{roleName}, #{roleDate}, #{roleFlag}, #{roleMark});
    </insert>

    <delete id="deleteRole" parameterType="org.example.model.entity.Role">
        delete
        from sys_role
        where role_id = #{roleId};
    </delete>

    <update id="updateRole" parameterType="org.example.model.entity.Role">
        update sys_role
        set role_name=#{roleName},
            role_create_time=#{roleDate},
            role_status_flag=#{roleFlag},
            role_remark=#{roleMark}

        where role_id = #{roleId};

    </update>

    <select id="selectOneRole" resultType="org.example.model.entity.Role" resultMap="RoleMapResult">
        select role_id,
               role_name,
               role_create_time,
               role_status_flag,
               role_remark
        from sys_role
        where role_id = #{roleId}
           or role_name = #{roleName};
    </select>

    <select id="selectAllRole" resultType="org.example.model.entity.Role" resultMap="RoleMapResult">
        select role_id,
               role_name,
               role_create_time,
               role_status_flag,
               role_remark
        from sys_role;
    </select>


    <select id="grantPowerToRole" resultType="org.example.model.entity.Role" resultMap="RoleMapResult">
        INSERT INTO sys_role_power_ref (ref_role_id, ref_power_id)
        VALUES (#{roleId}, #{powerId});
    </select>

    <select id="isPowerGrantedToRole" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sys_role_power_ref
        WHERE ref_role_id = #{roleId}
          AND ref_power_id = #{powerId};
    </select>

    <select id="grantUserToRole" resultType="org.example.model.entity.Role" resultMap="RoleMapResult">
        INSERT INTO sys_user_role_ref (ref_user_id, ref_role_id)
        VALUES (#{userId}, #{roleId});
    </select>

    <select id="isUserGrantedToRole" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sys_user_role_ref
        WHERE ref_user_id = #{userId}
          AND ref_role_id = #{roleId};
    </select>

    <select id="revokePowerFromRole" resultType="org.example.model.entity.Role" resultMap="RoleMapResult">
        DELETE
        FROM sys_role_power_ref
        WHERE ref_role_id = #{roleId}
          And ref_power_id = #{powerId};
    </select>

    <select id="grantPowerToRoleOperate" resultType="java.lang.Integer">
        SELECT power_id
        FROM sys_power
        WHERE power_name=#{powerName}
          AND power_type = #{powerType};
    </select>

    <select id="revokeUserFromRole" resultType="org.example.model.entity.Role" resultMap="RoleMapResult">
        DELETE
        FROM sys_user_role_ref
        WHERE ref_user_id = #{userId}
          And ref_role_id = #{roleId};
    </select>

    <select id="isAbleToRole" resultType="org.example.model.entity.Role" resultMap="RoleMapResult">
        select role_id,
               role_name,
               role_create_time,
               role_status_flag,
               role_remark
        from sys_role
        where role_status_flag = #{roleFlag};
    </select>

    <select id="isUserWhatToRole" resultType="java.lang.Integer">
        select ref_role_id
        from sys_user_role_ref
        where ref_user_id = #{userId};
    </select>



</mapper>

