<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users</h1>
<table>
    <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>User Telephone</th>
        <th>User Telephone</th>
        <th>User SysEmail</th>
        <th>User Password</th>
        <th>User NickName</th>
        <th>User Gender</th>
        <th>User BornDay</th>
        <th>User IdCard</th>
        <th>User Money</th>
        <th>User Company</th>
        <th>User Home</th>
        <th>User Ip</th>
        <th>User Flag</th>
        <th>User PersonalProfile</th>
        <th>User CreateTime</th>
        <th>User SecProblem1</th>
        <th>User SecAnswer1</th>
        <th>User SecProblem2</th>
        <th>User SecAnswer2</th>
        <th>User SecProblem3</th>
        <th>User SecAnswer3</th>


    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.userId}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.userTelephone}"></td>
        <td th:text="${user.userSysEmail}"></td>
        <td th:text="${user.userPassword}"></td>
        <td th:text="${user.userNickName}"></td>
        <td th:text="${user.userGender}"></td>
        <td th:text="${user.userBornDay}"></td>
        <td th:text="${user.userIdCard}"></td>
        <td th:text="${user.userMoney}"></td>
        <td th:text="${user.userCompany}"></td>
        <td th:text="${user.userHome}"></td>
        <td th:text="${user.userIp}"></td>
        <td th:text="${user.userFlag}"></td>
        <td th:text="${user.userPersonalProfile}"></td>
        <td th:text="${user.userCreateTime}"></td>
        <td th:text="${user.userSecProblem1}"></td>
        <td th:text="${user.userSecAnswer1}"></td>
        <td th:text="${user.userSecProblem2}"></td>
        <td th:text="${user.userSecAnswer2}"></td>
        <td th:text="${user.userSecProblem3}"></td>
        <td th:text="${user.userSecAnswer3}"></td>

    </tr>
</table>
</body>
</html>